# 01_OVERVIEW ‚Äî PROYECTO AURORA

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 120)

RAW_PATH = "../data/raw/"

RAW_PATH

'../data/raw/'

In [3]:
raw_files = os.listdir(RAW_PATH)
raw_files

['DownloadsByRegion.csv',
 'downloads_steam.csv',
 'playfab.csv',
 'reportNTK22-25.csv',
 'SteamHourlyConcurrents.csv',
 'SteamInGameSales.csv',
 'SteamUserStats.csv']

In [4]:
def leer_raw(nombre_fichero, sep=",", encoding="utf-8"):
    ruta = os.path.join(RAW_PATH, nombre_fichero)
    try:
        df = pd.read_csv(ruta, sep=sep, encoding=encoding)
        print(f"‚úÖ Cargado: {nombre_fichero}")
        print(f"   Filas: {df.shape[0]} | Columnas: {df.shape[1]}\n")
        return df
    except Exception as e:
        print(f"‚ùå Error leyendo {nombre_fichero}: {e}")
        return None

üîπ Steam ‚Äì Downloads

In [5]:
downloads_steam = leer_raw("downloads_steam.csv")
display(downloads_steam.head())
downloads_steam.info()

‚úÖ Cargado: downloads_steam.csv
   Filas: 1274 | Columnas: 2

       Date  Units
0  01/06/22    153
1  02/06/22    149
2  03/06/22    193
3  04/06/22    169
4  05/06/22    205

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1274 non-null   object
 1   Units   1274 non-null   int64
dtypes: int64(1), object(1)
memory usage: 20.0+ KB

üîπ Steam ‚Äì User Stats (DAU + Peak)

In [6]:
steam_userstats = leer_raw("SteamUserStats.csv")
display(steam_userstats.head())
steam_userstats.info()

‚úÖ Cargado: SteamUserStats.csv
   Filas: 1274 | Columnas: 3

  DateReported  DailyActiveUsers  PeakConcurrentUsers
0   2022-06-01              1294                   83
1   2022-06-02              1315                   80
2   2022-06-03              1355                   87
3   2022-06-04              1307                   86
4   2022-06-05              1378                   96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DateReported         1274 non-null   object
 1   DailyActiveUsers     1274 non-null   int64
 2   PeakConcurrentUsers  1274 non-null   int64
dtypes: int64(2), object(1)
memory usage: 30.0+ KB

üîπ Steam ‚Äì In-game Sales

In [7]:
steam_sales = leer_raw("SteamInGameSales.csv")
display(steam_sales.head())
steam_sales.info()

‚úÖ Cargado: SteamInGameSales.csv
   Filas: 9403 | Columnas: 18

,Date,Product(ID#),Game,Item(ID#),Description,Category,Country Code,Country,Region,Gross Units Sold,Chargeback/Returns,Net Units Sold,Average Price,Currency,Gross Steam Sales (USD),Chargeback/Returns (USD),VAT/Tax (USD),Net Steam Sales (USD)
0,2022-06-01,1898210,Eros Fantasy,1,skin_oleenDS_arcade,NaN,AU,Australia,Oceania,2,0,2,6.50,USD,12.99,0.0,-1.18,11.81
1,2022-06-01,1898210,Eros Fantasy,1,skin_oleenDS_arcade,NaN,CA,Canada,North America,1,0,1,15.26,USD,15.26,0.0,-1.76,13.50
2,2022-06-01,1898210,Eros Fantasy,1,skin_oleenDS_arcade,NaN,CZ,Czech Republic,Eastern Europe,1,0,1,3.00,USD,3.00,0.0,-0.52,2.48
3,2022-06-01,1898210,Eros Fantasy,1,skin_oleenDS_arcade,NaN,DK,Denmark,Western Europe,1,0,1,3.00,USD,3.00,0.0,-0.60,2.40
4,2022-06-01,1898210,Eros Fantasy,1,skin_oleenDS_arcade,NaN,FI,Finland,Western Europe,2,0,2,8.49,USD,16.98,0.0,-3.28,13.70

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9403 entries, 0 to 9402
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      9403 non-null   object
 1   Product(ID#)              9403 non-null   int64
 2   Game                      9403 non-null   object
 3   Item(ID#)                 9403 non-null   int64
 4   Description               9403 non-null   object
 5   Category                  0 non-null      float64
 6   Country Code              9403 non-null   object
 7   Country                   9403 non-null   object
 8   Region                    9403 non-null   object
 9   Gross Units Sold          9403 non-null   int64
 10  Chargeback/Returns        9403 non-null   int64
 11  Net Units Sold            9403 non-null   int64
 12   Average Price            9403 non-null   float64
 13  Currency                  9403 non-null   object
 14  Gross Steam Sales (USD)   9403 non-null   float64
 15  Chargeback/Returns (USD)  9403 non-null   float64
 16  VAT/Tax (USD)             9403 non-null   float64
 17  Net Steam Sales (USD)     9403 non-null   float64
dtypes: float64(6), int64(5), object(7)
memory usage: 1.3+ MB

üîπ Steam ‚Äì Hourly Concurrents

In [8]:
steam_hourly = leer_raw("SteamHourlyConcurrents.csv")
display(steam_hourly.head())
steam_hourly.info()

‚úÖ Cargado: SteamHourlyConcurrents.csv
   Filas: 30550 | Columnas: 4

,HourReported,PeakConcurrentUsers,PeakConcurrentUsersMac,PeakConcurrentUsersLinux
0,2022-06-01 00:00:00,58,0,1
1,2022-06-01 01:00:00,59,0,0
2,2022-06-01 02:00:00,54,0,0
3,2022-06-01 03:00:00,53,0,0
4,2022-06-01 04:00:00,54,0,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30550 entries, 0 to 30549
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   HourReported              30550 non-null  object
 1   PeakConcurrentUsers       30550 non-null  int64
 2   PeakConcurrentUsersMac    30550 non-null  int64
 3   PeakConcurrentUsersLinux  30550 non-null  int64
dtypes: int64(3), object(1)
memory usage: 954.8+ KB

üîπ Canal B ‚Äì Report TOTAL 2022‚Äì2025

In [9]:
canalB_raw = leer_raw("reportNTK22-25.csv")
display(canalB_raw.head())
canalB_raw.info()

‚úÖ Cargado: reportNTK22-25.csv
   Filas: 3834 | Columnas: 17

,Date,APP ID,Game Name,Device,Total Registered Members,Total Verified Members,Newly Registered Members,Newly Verified Members,Newly Unregistered Members,Download,DAU,ARPDAU,Charged UU,Gold Spent,ARPU,ARPPU,Complimentary Gold Spent
0,2022-06-01,50784,Eros Fantasy,ANDROID_APP,109008,42796,132,52,0,42,2938,1.19,3,3497,0.03,1165.67,0
1,2022-06-01,50784,Eros Fantasy,PC,94535,44241,112,54,0,0,2174,11.01,6,23940,0.25,3990.00,0
2,2022-06-01,50784,Eros Fantasy,TOTAL,211492,87826,255,107,0,42,5020,5.47,9,27437,0.13,3048.56,0
3,2022-06-02,50784,Eros Fantasy,ANDROID_APP,109234,42869,226,73,0,52,3058,8.56,12,26189,0.24,2182.42,0
4,2022-06-02,50784,Eros Fantasy,PC,94677,44298,142,57,0,0,2185,9.40,9,20542,0.22,2282.44,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3834 non-null   object
 1   APP ID                      3834 non-null   int64
 2   Game Name                   3834 non-null   object
 3   Device                      3834 non-null   object
 4   Total Registered Members    3834 non-null   int64
 5   Total Verified Members      3834 non-null   int64
 6   Newly Registered Members    3834 non-null   int64
 7   Newly Verified Members      3834 non-null   int64
 8   Newly Unregistered Members  3834 non-null   int64
 9   Download                    3834 non-null   int64
 10  DAU                         3834 non-null   int64
 11  ARPDAU                      3834 non-null   float64
 12  Charged UU                  3834 non-null   int64
 13  Gold Spent                  3834 non-null   int64
 14  ARPU                        3834 non-null   float64
 15  ARPPU                       3834 non-null   float64
 16  Complimentary Gold Spent    3834 non-null   int64
dtypes: float64(3), int64(11), object(3)
memory usage: 509.3+ KB

üîπ Descargas por Regi√≥n

In [10]:
downloads_region = leer_raw("DownloadsByRegion.csv")
display(downloads_region.head())
downloads_region.info()

‚úÖ Cargado: DownloadsByRegion.csv
   Filas: 194 | Columnas: 3

           Region Total Downloads  Share
0   North America           35292  45.4%
1  Western Europe           11351  14.6%
2   Latin America            8348  10.7%
3    Central Asia            6266   8.0%
4            Asia            4929   6.3%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           192 non-null    object
 1   Total Downloads  193 non-null    object
 2   Share            193 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB

üîπ PlayFab (solo overview)

In [11]:
playfab_raw = leer_raw("playfab.csv")
display(playfab_raw.head())
playfab_raw.info()

‚úÖ Cargado: playfab.csv
   Filas: 39127 | Columnas: 12

,Event,Date,PlayerID,Unnamed: 3,Nutaku Gold,Item ID,Server,Type,Subtype,DAY,Month,Revenue
0,nc_spent,2024-12-03T17:37:04.837036Z,43ACF0146121CCED,"{""EventName"":""nc_spent"",""EventNamespace"":""titl...",900.0,affection_gold_chest,Server 1,Affection,Affection Gacha,3/12/2024,diciembre-2024,"$9,00"
1,nc_spent,2024-12-03T17:41:12.862961Z,DB461D433013A24A,"{""EventName"":""nc_spent"",""EventNamespace"":""titl...",1000.0,Playroom_Alexandra_Offer_01,Server 8,Playroom,Playroom,3/12/2024,diciembre-2024,"$10,00"
2,nc_spent,2024-12-03T17:44:55.827691Z,43ACF0146121CCED,"{""EventName"":""nc_spent"",""EventNamespace"":""titl...",900.0,affection_gold_chest,Server 1,Affection,Affection Gacha,3/12/2024,diciembre-2024,"$9,00"
3,nc_spent,2024-12-03T18:15:45.686973Z,8D66574CD42BEC8E,"{""EventName"":""nc_spent"",""EventNamespace"":""titl...",1350.0,gold_chest,Server 1,Gacha,grand_gacha,3/12/2024,diciembre-2024,"$13,50"
4,nc_spent,2024-12-03T18:15:54.967943Z,8D66574CD42BEC8E,"{""EventName"":""nc_spent"",""EventNamespace"":""titl...",1350.0,gold_chest,Server 1,Gacha,grand_gacha,3/12/2024,diciembre-2024,"$13,50"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39127 entries, 0 to 39126
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Event        39127 non-null  object
 1   Date         39127 non-null  object
 2   PlayerID     39127 non-null  object
 3   Unnamed: 3   39127 non-null  object
 4   Nutaku Gold  39127 non-null  float64
 5   Item ID      39120 non-null  object
 6   Server       39127 non-null  object
 7   Type         38927 non-null  object
 8   Subtype      38638 non-null  object
 9   DAY          39127 non-null  object
 10  Month        39127 non-null  object
 11  Revenue      39127 non-null  object
dtypes: float64(1), object(11)
memory usage: 3.6+ MB

In [12]:
def rango_fechas(df, col, nombre=""):
    if df is None:
        print(f"{nombre}: ‚ùå no cargado\n")
        return
    fechas = pd.to_datetime(df[col], errors="coerce")
    print(f"üìÖ {nombre}:")
    print("   M√≠nimo:", fechas.min())
    print("   M√°ximo:", fechas.max(), "\n")

In [13]:
rango_fechas(downloads_steam, "Date", "Steam Downloads")
rango_fechas(steam_userstats, "DateReported", "Steam User Stats")
rango_fechas(steam_sales, "Date", "Steam Sales")
rango_fechas(steam_hourly, "hour_reported" if "hour_reported" in steam_hourly.columns else steam_hourly.columns[0], "Steam Concurrents")
rango_fechas(canalB_raw, "Date", "Canal B TOTAL")
rango_fechas(playfab_raw, "Date", "PlayFab")

üìÖ Steam Downloads:
   M√≠nimo: 2022-01-06 00:00:00
   M√°ximo: 2025-12-11 00:00:00

üìÖ Steam User Stats:
   M√≠nimo: 2022-06-01 00:00:00
   M√°ximo: 2025-11-25 00:00:00

üìÖ Steam Sales:
   M√≠nimo: 2022-06-01 00:00:00
   M√°ximo: 2025-11-24 00:00:00

üìÖ Steam Concurrents:
   M√≠nimo: 2022-06-01 00:00:00
   M√°ximo: 2025-11-25 00:00:00

üìÖ Canal B TOTAL:
   M√≠nimo: 2022-06-01 00:00:00
   M√°ximo: 2025-11-29 00:00:00

üìÖ PlayFab:
   M√≠nimo: 2024-12-03 17:37:04.837036+00:00
   M√°ximo: 2025-04-03 23:34:02.573600+00:00

C:\Users\cubea\AppData\Local\Temp\ipykernel_32928\4098655081.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fechas = pd.to_datetime(df[col], errors="coerce")

In [14]:
FECHA_MIN_FACT = pd.Timestamp("2022-06-01")
FECHA_MAX_FACT = pd.Timestamp("2025-10-31")

FECHA_MIN_PLAYFAB = pd.Timestamp("2024-12-03")
FECHA_MAX_PLAYFAB = pd.Timestamp("2025-04-03")

FECHA_MIN_STEAM = pd.Timestamp("2022-06-01")
FECHA_MAX_STEAM = pd.Timestamp("2025-11-25")

FECHA_MIN_CANALB = pd.Timestamp("2022-06-01")
FECHA_MAX_CANALB = pd.Timestamp("2025-11-29")

print("Rango FACT:", FECHA_MIN_FACT, "‚Üí", FECHA_MAX_FACT)

Rango FACT: 2022-06-01 00:00:00 ‚Üí 2025-10-31 00:00:00

In [15]:
playfab_raw["Date"] = pd.to_datetime(
    playfab_raw["Date"],
    format="%Y-%m-%dT%H:%M:%S.%fZ",
    utc=True,
    errors="coerce"
)

rango_fechas(playfab_raw, "Date", "PlayFab (formato limpio)")

üìÖ PlayFab (formato limpio):
   M√≠nimo: 2024-12-03 17:37:04.837036+00:00
   M√°ximo: 2025-04-03 23:34:02.573600+00:00